.send-msg-container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.send-msg-container > input {
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border: 0;
    background-color: white;
    margin-right: 5px;
}

.send-msg-container > img {
    cursor: pointer;
}
