.webcam-container {
    /* border: 1px solid black; */
    height: 100%;
}

.webcam-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.webcam-controls {
    display: flex;
    justify-content: center;
}

.webcam-controls > img {
    cursor: pointer;
    margin: 10px;
}

.webcam {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.webcam > video {
    max-width: 100% !important;
    max-height: 50vh !important;
    border-radius: 20px;
}
