body {
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-details-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-details-container > div {
    width: 50%;
}

.login-details-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-details {
    display: flex;
    justify-content: center;
}

.login-details-input {
    text-align: start;
}

.login-details-input > p {
    margin: 10px 0px 4px 0px;
}

.login-details-input > input {
    padding: 10px 10px 10px 10px;
    min-width: 15rem;
    border-radius: 6px;
    border-color: rgb(111, 111, 111);
}

.login-btn > button {
    min-width: 16rem;
    padding: 8px;
    border-radius: 6px;
    border: 0;
    background-color: #008E97;
    color: white;
    margin: 6px;
    cursor: pointer;
}

.login-image-container {
    width: 50%;
}

.login-image-container > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
